{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" class="mx-auto w-50" novalidate>
    <!-- {{form | crispy }} -->
     {% csrf_token %}
     {% for fm in form %}
       {{fm.label_tag}}
       {{fm}}
       {{fm.errors|striptags }}
       <br>
     {% endfor %}
    <button type="submit" class="btn btn-info mt-4">Login</button>
</form>
  
{% endblock content %}