{% extends "index.html" %} {% block items %}
<h1 class="title text-center">Our Products</h1>
<div class="d-flex justify-content-between align-items-center">
    <h5>All available car list</h5>
    <div class="d-flex justify-content-between align-items-center">
        <h6 class="mx-4">Show:</h6>
        <select class="form-select" aria-label="Filter by Brand" onchange="window.location.href=this.value;">
            <option value="{% url 'homePage' %}" {% if not brand_slug %}selected{% endif %}>All</option>
            {% for b in brand %}
                <option value="{% url 'brand_filter' brand_slug=b.slug %}" {% if b.slug == brand_slug %}selected{% endif %}>{{ b.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="box justify-content-center" style="display: flex; flex-wrap: wrap">
  {% for car in data %}
  <div class="box-card">
    <div>
      <img src="{{car.image.url}}" class="cardImg" alt="" />
    </div>
    <div class="box-info">
      <h4 class="car-title">{{car.title}}</h4>
      <h6><strong>Brand:</strong> {{car.brand}}</h6>
      <p><strong>Price: $</strong>{{car.price}}</p>
      <p class="car-des">{{car.descriptiop}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <p><strong>Quantity left:</strong> {{car.quantity}}</p>
        {% if user.is_authenticated %}
        <button class="buy-now-button">Buy now</button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock items %}