* {
  margin: 0;
  padding: 0;
}

.banner-img {
  height: 600px;
  width: 500px;
}
main {
  max-width: 1280px;
  margin: auto;
  padding-top: 50px;
}
.welcome {
  padding-left: 30px;
  padding-top: 20px;
}
.cardImg {
  width: 286px;
  height: 205px;
}
.box-card {
  width: 286px;
  margin: 10px 15px;
  border-radius: 25px;
  overflow: hidden;
}
.box-info {
  height: 300px;
  border: 1px solid black;
  border-radius: 0 0 25px 25px;
  padding: 10px 10px 0 10px;
}
.car-des {
  text-align: justify;
  height: 70px;
}

/* text */
.title {
  font-size: 48px;
  font-weight: 800;
}
.car-title {
  font-size: 24px;
  font-weight: 600;
  height: 60px;
}
.title_name {
  color: coral;
}
.title-moto {
  font-size: 32px;
  font-weight: 600;
}
.title-info {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.buy-now-button {
  background-color: #e60000; /* Red color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* Remove border */
  font-size: 16px; /* Text size */
  font-weight: bold; /* Bold text */
  text-decoration: none; /* Remove underline from text */
  border-radius: 5px 5px 25px 5px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  display: inline-block; /* Makes the button an inline element */
  margin: 10px; /* Adds margin around the button */
}

.buy-now-button:hover {
  background-color: #c00; /* Button color on hover */
}
